body{
    display: grid;
    max-width: 100vw;
    grid-template-areas:
        "nav header header header"
        "nav section section section"
        "nav section section section";
    grid-template-rows: 55px  1fr 1fr;
    grid-template-columns: 20vw 80vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.gear i{
    font-size: 2em;
    color: #b95151;

}
.left-nav{
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    grid-area: nav;
    height: 100vh;
    background-color: rgba(6, 8, 17, 0.77);
    text-align: left;
    margin: 0;

}
.left-nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: capitalize;
}
/* make test caps */

.left-nav a:hover {
    color: lightskyblue;
}
header{
    z-index: 9;
    position: fixed;
    right: 0;
    top: 0;
    width: 79vw;
    grid-area: header;
    padding: 0;
    margin: 0;

}
.section{
    grid-area: section;
    min-height: 100vh;
    padding: 1.5rem;
}
.dark-mode{
    background-color: black;
    color: #fff;

}
.alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 30%;
    min-height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: x-large;
    align-items: center;
    border: 2px solid #8f94fb;
    background-color: white;
    color: black;
    padding: 1rem;
}
.alert-success:hover{
    background-color: mediumseagreen;
    color: white;
}
.alert-danger:hover{
    background-color: red;
    color: white;
}

.close{
    background-color: lightblue;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1rem;
    color: darkred;
}
.close span{
    cursor: pointer;
    font-size: 1rem;
}
.close:hover{
    /* background-color: red; glows when hovered */
    background-color: red;
}

form {
    display: inline-block;
    text-align: center;
}
